body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

* {
    border-radius: 0 !important;
}

img {
    max-width: 100%;
    height: auto;
}

#main {
    margin-bottom: 100px;
}

/***********************
       Typography 
************************/

p {
    font-weight: 300;
    font-size: 18px;
}

/***********************
       Sidebar 
************************/

h3.widget-title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

.widget-area li {
    list-style-type: none;
    margin-left: -39px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 13px ;
}

#search-2 {
    margin-bottom: 20px;
}

#searchform label.assistive-text {
    display: none;
}

.understrap-read-more-link {
	display: none;
}


/***********************
       Navigation 
************************/

.navbar-nav {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

#transparent-nav.bg-light {
    background-color: transparent !important;
}

/* Dark Nav */

.bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.fa::before {
	float: left;
	margin-top: 8px;
	width: 30px;
}

/* Make bg black on open */
.black-bg {
    background: #000!important;
}

#transparent-nav.bg-light.black-bg {
    background: #000!important;
}

.navbar-toggler-icon {
	background: none !important;
}

.navbar-toggler {
	border: none;
}

i.fas.fa-bars {
    color: #fff;
    line-height: 1.5;
}

li.social-nav {
    margin-right: -10px;
}

.navbar-light .navbar-nav .active > .nav-link {
	color: #fff;
	font-weight: 400;	
}

.navbar-nav .active > .nav-link {
	color: #fff;
	font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #ddd;
}

button#searchsubmit {
    background: #fff;
    border-left: none;
    border-color: #ddd;
}

i.fa.fa-search {
    color: #000;
}

input#s {
    font-weight: 300;
}



/***********************
      Main Content  
************************/
h2.main-heading {
    text-transform: uppercase;
    padding: 40px 0;
    font-weight: 200;
    text-align: center;
}

/***********************
       Footer  
************************/

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    height: 50px;
    line-height: 50px;
    color: #000;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 300;
}

.footer p {
    margin-bottom: 0;
    font-size: 13px;
}

/***********************
       Home Page 
************************/

.home {
	background: url('../img/homepage-hero.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Hero Section */
#homepage-hero {
	  text-transform: uppercase;
	  color: #fff;
	  background: transparent;
      flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  display: flex;
	  height: 100vh;
}

#homepage-hero h1 {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 10px;
    text-transform: uppercase;
}


#homepage-hero p {
    font-weight: 500;
    letter-spacing: 4px;
    font-size:19px;
}


.hero-margin {
    margin-top: -52px;
}

/***********************
       Review Page
************************/

p.reviewer {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0;
}

p.review {
	margin-bottom: 0;
}

p.reviewer_location {
	font-size: 14px;
	font-weight: 300;
}

.review-pic {
    float: left;
    margin-right: 10px;
    max-width: 200px;
}

hr {
    border-top: 1px solid #e9e9e9;
}

/***********************
       Sub Page Hero  
************************/

#subpage-hero {
    background: url(../img/subpage-hero.jpg) no-repeat center;
    background-size: cover;
    text-transform: uppercase;
    color: #fff;
    padding: 90px 0 20px 0;
    margin-top: -56px;
}

#subpage-hero p {
    font-weight: 500;
    letter-spacing: 4px;
    font-size:12px;	
}

#subpage-hero h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 10px;
    text-transform: uppercase;	
}



/***********************
       Blog Archive 
************************/

#archive {
    margin-top: 100px;
    margin-bottom: 100px;
}

#blog {
    border: 1px solid #e3e3e3;
    padding: 20px;
}

img.excerpt-img {
    float: left;
    margin-right: 15px;
}

h2.blog-title {
    font-weight: 300;
    font-size: 26px;
}

p.excerpts {
    margin-bottom: 0;
    font-size: .9rem;
}

span.read-more {
    text-transform: uppercase;
    font-size: .8rem;
}

span.post-date {
	font-size: 15px;
}

.btn-secondary {
    color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

h3#reply-title {
	font-size: 28px;
	font-weight: 300;
}


/***********************
       PLUGIN : WPForms
************************/

div.wpforms-container-full .wpforms-form input {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium {
	max-width: 100%;
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
	background-color: #f8f8f8;
	border: 1px solid #f8f8f8;
}

div.wpforms-container-full .wpforms-form button[type=submit] {

    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    font-size: 1em;
    padding: 10px 15px;
    width: 100%;
    text-transform: uppercase;
}


div.wpforms-container-full .wpforms-form .wpforms-field-label {
    display: block;
    font-weight: 300;
    font-size: 18px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
}

.video-js {
    max-width: 100% !important;
}


@media (max-width: 1199.98px) { 
	 
}

@media (max-width: 991.98px) { 
	 li.social-nav {
		 display: none;
	 }
	 
	 #homepage-hero {
		 padding: 300px 0;
	 }
}


@media (max-width: 767.98px) { 
	
	#right-sidebar {
    	margin-top: 40px;
	}
	
	#homepage-hero {
		height: 50vh;
	}
	
	#homepage-hero h1 {
		font-size: 48px;
	} 
	 
	 
}


@media (max-width: 575.98px) {
	
	#homepage-hero h1 {
		font-size: 30px;
	} 
	
}


