/* ################################################## */
/* ########### Global classes / overrides ########### */
/* ################################################## */


/* Why is this display: block; not redundant? */


/* ############################## */
/* ########### Header ########### */
/* ############################## */


/* ###################################### */
/* ########### Second section ########### */
/* ###################################### */




/* #################################### */
/* ########### Hero section ########### */
/* #################################### */



/* ############################## */
/* ########### Footer ########### */
/* ############################## */
.site-footer {
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
}